<header class="bg-light">
  <nav class="container navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand col-6 text-center" href="#">MoviesWorld</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNavAltMarkup">
        <div class="navbar-nav col-6">
            <a class="nav-link" routerLink="/movies-board">Cartelera</a>
          <a class="nav-link" routerLink="/movies">Peliculas</a>
          <a class="nav-link" routerLink="/series">Series</a>
        </div>
      </div>
    </div>
  </nav>
</header>
