<main class="bg-light d-flex align-items-center">
    <section class="container">
        <div class="row d-flex align-items-center">
            <figure class="m-0 col-6 text-center">
                <picture>
                    <img src="./../../../assets/img/fotoPerfil.jpg" alt="" width="300px">
                </picture>
            </figure>
            <p class="col-6 text-start m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quod sunt impedit natus illo qui. Fugit consequatur architecto odit aut, dolor doloremque sint modi optio quam. Nobis optio in provident.
            Doloribus earum dolorem quaerat reprehenderit similique quidem, ipsum eos esse. Et, quidem asperiores! Voluptates pariatur vitae provident eveniet, sunt assumenda laudantium, in quos, velit aperiam voluptatum repellendus sed cumque eos?
            Excepturi eaque impedit cum asperiores repudiandae magnam velit necessitatibus voluptates distinctio, totam veritatis. Pariatur delectus voluptatum maiores adipisci provident illum laborum, natus culpa exercitationem quisquam unde quos nostrum deleniti corporis..</p>
        </div>
    </section>
</main>